.title {
    margin: 10px 0px;
}

.job-display{
    display: flex;
    flex-flow: row wrap;
    margin: 20px 40px;

   

}

.search input {
    padding: 15px;
    margin: 10px 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;

}